
.container {
    max-width: 800px;
}
  
  .image-carousel {
    position: relative;
    display: flex;
    flex: 1;
    max-width: 100%;
  }
  
  .image-carousel img {
    width: 100%;
  }
  
  .image-carousel button {
    position: absolute;
    width: 5%;
    background-color: transparent;
    border: none;
    color: white;
    height: 100%;
    font-size: large;
  }
  
  .image-carousel button:hover {
    background-color: #ffffffaa;
  }
  
  .image-carousel .button-right {
    left: 95%;
  }
  
  .button-left {
    right: 95%;
  }
  
  .circles {
    display: flex;
    justify-content: center;
  }
  
  .light-circle {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    margin-top: 12.5px;
  }
  .dark-circle {
    height: 20px;
    width: 20px;
    background-color: #666;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
  }
  